<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons>
    <ion-title>new-places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createPlaceForm">
    <ion-item>
      <ion-label >Title</ion-label>
      <ion-input type="text"formControlName="title"></ion-input>
    </ion-item>
    <ion-button color="danger" type="button" expand="block" (click)="addPlace()">Add place</ion-button>

  </form>

  <ion-button type ="button" color="primary" (click)="getMyLocation()"> My Location</ion-button>

</ion-content>
