<ion-header>
 
<ion-toolbar color="primary">
    <ion-buttons>
      <ion-button  slot="start" ion-button  icon-only [routerLink]="[ '/new-places']"class="main-background" >
       <ion-icon end name="add" class="main-background" icon-only></ion-icon>
      </ion-button>
      <ion-title class="white-text">Awsome Places</ion-title>

   
     </ion-buttons>
   

  </ion-toolbar>
  <ion-toolbar color ="primary">
    <ion-button color="secondary" slot="end" [routerLink] ="['/live-location-home']">Live Location</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list *ngIf="places">
  <ion-item  *ngFor="let p of places" (click)="loadPage(p)">{{p.title}}</ion-item>
</ion-list>

<div class="page">
  <h1>wife alert</h1>
  <div class="loader"></div>
  <div class="bottom-container">
    <ion-item fill="none" color="secondary">
      <ion-range [(ngModel)]="radius" #radiusVal min="4" max="30" color="primary" pin="true"></ion-range>
    </ion-item>
    <ion-label color="secondary" id="lbl">Fence parameter (Meters)</ion-label>
    <ion-button size="large" outline expand="block" color="primary" (click)="setGeofence(radiusVal.value)"> Set fence</ion-button>
  </div>
  <p *ngIf="error">{{error}}</p>
</div>
</ion-content>
